boto3==1.10.45
botocore==1.13.45
cffi==1.13.2
Click==7.0
cryptography==2.8
docutils==0.15.2
Flask==1.1.1
Flask-Cors==3.0.8
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jwt==0.6.1
MarkupSafe==1.1.1
psycopg2-binary==2.8.4
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.1
s3transfer==0.2.1
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
